* {border: 0; margin: 0; padding: 0}
{position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color:#fff;}

.logo, .progress {position: absolute; left: 50%; top: 43%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.logo {background: url('mermaid.png') no-repeat center / contain; width: 854px; height: 240px;}
.progress {height: 18px; width: 141px; margin-top: 140px;}
//.progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
//.progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}
.progress .empty {background-color: #AAA; no-repeat right / cover; float: right; width: 100%; height: 5px; display: inline-block;}
.progress .full {background-color: #333; no-repeat left / cover; float: left; width: 0%; height: 5px; display: inline-block;}

.logo.Dark {background-image: url('mermaid.png');}

.footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.footer .title {margin-right: 10px; float: right;}
.footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}
